{% extends "main/layout.html" %}
{% load static %}
{% block content %}
  <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li>{{lang_data.ABOUT_LBL2}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>{{lang_data.SERVICE_LBL}}</strong></h2>
              </div>
          <div class="row">
            {% for object in objects  %}
              
            <div class="col-lg-4 col-md-6">
              <div class="icon-box" data-aos="fade-up">
                <div class="icon"><i class="bi bi-briefcase"></i></div>
                <h4 class="title">
                  {% if lang == 'tt' %}
                      {{object.title_tet}}
                  {% elif lang == 'pt' %}
                      {{object.title_por}}
                  {% else %}
                      {{object.title_eng}}
                  {% endif %}
                </h4>
                <p class="description">
                  {% if lang == 'tt' %}
                      {{object.description_tet|safe}}
                  {% elif lang == 'pt' %}
                      {{object.description_por|safe}}
                  {% else %}
                      {{object.description_eng|safe}}
                  {% endif %}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
          
        </div>
      </section><!-- End Services Section -->

{% endblock content %}