{% extends "main/layout.html" %}
{% load static %}
{% block content %}
  <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li>{{lang_data.ABOUT_LBL1}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= About Us Section ======= -->
<section id="blog" class="blog about-us">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2><strong>{{legend}}</strong></h2>
    </div>
    <div class="row">

      <div class="col-md-12">
        <article class="entry entry-single">
          <div class="row">
              <div class="col-md-6"> 
                  <div class="img-fluid" data-aos="fade-up">
                    <a href="{{ objects.image.url }}" target="_blank"><img
                      class="img-fluid rounded mx-auto d-block pt-5"
                      src="{{objects.image.url}}" alt=""></a>
                  </div>
              </div>
              <div class="col-md-6">
              <div class="entry-content">
                <div class="section-title" data-aos="fade-up">
                  <h2><strong>{{lang_data.BACKGROUND_LBL}}</strong></h2>
                  <p>
                    {% if lang == 'tt' %}
                    {{objects.background_tet|safe}}
                    {% elif lang == 'pt' %}
                    {{objects.background_por|safe}}
                    {% else %}
                    {{objects.background_eng|safe}}
                    {% endif %}
                  </p>
                </div>
                

                
              </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="section-title" data-aos="fade-up">
                    <h2><strong>{{lang_data.MISSION_LBL}}</strong></h2>
                    <p>
                      {% if lang == 'tt' %}
                      {{objects.mission_tet|safe}}
                      {% elif lang == 'pt' %}
                      {{objects.mission_por|safe}}
                      {% else %}
                      {{objects.mission_eng|safe}}
                      {% endif %}
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-title" data-aos="fade-up">
                    <h2><strong>{{lang_data.VISION_LBL}}</strong></h2>
                    <p>
                      {% if lang == 'tt' %}
                      {{objects.vision_tet|safe}}
                      {% elif lang == 'pt' %}
                      {{objects.vision_por|safe}}
                      {% else %}
                      {{objects.vision_eng|safe}}
                      {% endif %}
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section-title" data-aos="fade-up">
                    <h2><strong>{{lang_data.VALUES_LBL}}</strong></h2>
                    <p>
                      {% if lang == 'tt' %}
                      {{objects.values_tet|safe}}
                      {% elif lang == 'pt' %}
                      {{objects.values_por|safe}}
                      {% else %}
                      {{objects.values_eng|safe}}
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>
          </div>
        </article>
      </div>
      
    </div>
    
  </div>
</section><!-- End About Us Section -->

{% endblock content %}
