{% extends "main/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li>{{lang_data.GET_IN_TOUCH_BREAKCUMB_LBL}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio blog" class="blog contact">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>{{lang_data.APPOINTMENT_LBL}}</strong></h2>
              </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row justify-content-center" data-aos="fade-up">
                    <div class="col-lg-10">
                      <form method="POST" enctype="multipart/form-data" class="php-email-form">
                        {% csrf_token %}
                        {% crispy form %}
                      </form>
                    </div>
          
                  </div>
            </div>
        </div>
        </div>
      </section><!-- End APPOINTME Section -->

    <section id="portfolio blog" class="blog contact">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>{{lang_data.SUGGESTION_LBL}}</strong></h2>
              </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row justify-content-center" data-aos="fade-up">
                    <div class="col-lg-10">
                        <form method="POST" enctype="multipart/form-data" class="php-email-form">
                          {% csrf_token %}
                          {% crispy form2 %}
                      </form>
                    </div>
          
                  </div>
            </div>
        </div>
        </div>
      </section><!-- End Portfolio Section -->
    
      <section id="portfolio blog" class="blog contact">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>{{lang_data.CONTACT_MUNICIPALITY_LBL}}</strong></h2>
              </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table table-bordered border-warning" data-aos="fade-up">
                    <thead>
                      <tr>
                        <th scope="col">Nu</th>
                        <th scope="col">{{lang_data.APPOINTMENT_LBL2}}</th>
                        <th scope="col">{{lang_data.APPOINTMENT_LBL4}}</th>
                        <th scope="col">{{lang_data.POSITION_LBL}}</th>
                        <th scope="col">{{lang_data.PROJECT_DETAIL13_LBL}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for object in contactMunicipality %}
                        
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{object.name}}</td>
                        <td>+670 {{object.phone_number}}</td>
                        <td>{{object.position}}</td>
                        <td>{{object.municipality}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        </div>
      </section><!-- End Portfolio Section -->
{% endblock content %}