{% extends "main/layout.html" %}
{% load static %}
{% block title %}
  {{titlepage}}
{% endblock title %}
{% block content %}
  <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li>{{lang_data.RESOURCE_TITLE_LBL}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">

      <h2 class=" ">
        <strong>

        {% if lang == 'tt' %}
        {{objects.name_tet}}
        {% elif lang == 'pt' %}
        {{objects.name_por}}
        
        {% else %}
        {{objects.name_eng}}
        
        {% endif %}
      </strong>
    </h2>
  </div>
    <div class="row justify-content-center ">

      <div class="col-md-7 entries">

        <article class="entry entry-single">

          <div class="entry-img text-center p-4 text-center">
            <img class="img img-fluid" src="{% static 'main/img/img_loading.png' %}" data-src="{{objects.image.url}}" alt="" class="img-fluid">
          </div>
      </article><!-- End blog entry -->
        
      </div><!-- End blog entries list -->
      <div class="col-md-5 entries">
        
        <article class="entry entry-single">

          <div class="entry-content">
            <h6>Description: </h6>
          {% if lang == 'tt' %}
          
          {{objects.overview_tet|safe}}
          {% elif lang == 'pt' %}
          {{objects.overview_por|safe}}
          
          {% else %}
          {{objects.overview_eng|safe}}
            
          {% endif %}
          </div>
      </article>
      </div>
  
</div>

</div>
</section>
{% endblock content %}