{% extends 'web_admin/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
            <!-- TODO -->
            <li class="breadcrumb-item"><a href="{% url 'admin-appointment-list' %}">List Appointment</a></li>

            <li class="breadcrumb-item active">{{title}}</li>
            <!-- <li class="breadcrumb-item">Users</li> -->
        </ol>
    </nav>
</div>
<section class="section profile">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pt-3">
                    <div class="card-title">
                        <h2>Detail Appointment</h2>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        Personal Information
                                    </div>
                                    <div class="">
                                        <h6>Naran Kompletu: <strong> {{objects.first_name}} {{objects.last_name}}
                                            </strong></h6>
                                        <h6>Email: <strong> {{objects.email}}
                                            </strong></h6>
                                        <h6>Mobile: <strong> {{objects.mobile}}
                                            </strong></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        Appointment Information
                                    </div>
                                    <div class="">
                                        <h6>Appointment Date: <strong> {{objects.appointment_date}}
                                            </strong></h6>
                                        <h6>Appointment Time: <strong> {{objects.appointment_time}}
                                            </strong></h6>
                                        <h6>Subject: <strong> {{objects.subject}}
                                            </strong></h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock content%}