{% extends 'web_admin/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
            <!-- TODO -->
            <!-- <li class="breadcrumb-item"><a href="{% url 'admin-news-list' %}">About List</a></li> -->

            <li class="breadcrumb-item active">{{title}}</li>
            <!-- <li class="breadcrumb-item">Users</li> -->
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'admin-about-add' %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Aumenta</a>
            {% if objects %}

            <a href="{% url 'admin-about-update' objects.hashed %}" class="btn btn-primary"><i class="bi bi-pencil"></i>
                Altera</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <a href="{{ objects.image.url }}" target="_blank"><img
                        class="img-fluid rounded mx-auto d-block"
                        src="{{objects.image.url}}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Introduction -->
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Background (Tetum)</h5>
                    <p>{{objects.background_tet|safe}}</p>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Background (Portugues)</h5>
                    <p>{{objects.background_por|safe}}</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Background (English)</h5>
                    <p>{{objects.background_eng|safe}}</p>
                </div>
            </div>

        </div>
    </div>
    <!-- End Vision -->
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mission (Tetum)</h5>
                    <p>{{objects.mission_tet|safe}}</p>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mission (Portugues)</h5>
                    <p>{{objects.mission_por|safe}}</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mission (English)</h5>
                    <p>{{objects.mission_eng|safe}}</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vision (Tetum)</h5>
                    <p>{{objects.vision_tet|safe}}</p>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vision (Portugues)</h5>
                    <p>{{objects.vision_por|safe}}</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vision (English)</h5>
                    <p>{{objects.vision_eng|safe}}</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Objective (Tetum)</h5>
                    <p>{{objects.objective_tet|safe}}</p>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Objective (Portugues)</h5>
                    <p>{{objects.objective_por|safe}}</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Objective (English)</h5>
                    <p>{{objects.objective_eng|safe}}</p>
                </div>
            </div>

        </div>
    </div>
    <!-- End Mission -->



</section>
{% endblock content %}