<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <!-- <div class="logo">
      <h1 class="text-light"><a href="index.html">Flattern</a></h1>
    </div> -->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">News</a></li>
        <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">What We Do</a></li>
            <li><a href="#">Board Profile</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Resources</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">EDTL 24 Apps</a></li>
            <li><a href="#">Solar PV</a></li>
            <li><a href="#">Electricity Token</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Departments</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Production and Renewable energy</a></li>
            <li><a href="#">Transmision Line</a></li>
            <li><a href="#">Distribution and Customer Services</a></li>
            <li><a href="#">Electricity System Plan and Design</a></li>
            <li><a href="#">Finance and Comercial</a></li>
            <li><a href="#">Corporate Service</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Publication</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Event</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Documentary</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Recruitments</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Job Vacancies</a></li>
            <li><a href="#">Internships</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Procuraments</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Public Tender</a></li>
            <li><a href="#">Procuraments Guidelines</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Projects</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Ongoing</a></li>
            <li><a href="#">Up Coming</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Gallery</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Photo</a></li>
            <li><a href="#">Video</a></li>
          </ul>
        </li>
        <li><a href="#" class="read">Get in Touch</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->