<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-center">

    <nav id="navbar" class="navbar">
      <ul>
        {% with url_name=request.resolver_match.url_name %}
        <li><a class="{% if url_name == 'home' or url_name == 'inicio' or url_name == 'varanda' %}active{% endif %}" href="{% url 'varanda' l1 %}">Varanda</a></li>
        <li><a href="{% url 'news-list' l1 %}" class="{% if url_name == 'news-list' %} active{% endif %}">Noticia</a></li>
        <li class="{% if url_name == 'who-we-are' or url_name == 'what-we-do' or url_name == 'board-profile' %}
          active 
        {% endif %} dropdown"><a href="#"><span>Konaba</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'who-we-are' l1 %}" >Se mak Ami</a></li>
            <li><a href="{% url 'what-we-do' l1 %}">Saida mak Ami Halo</a></li>
            <li><a href="{% url 'board-profile' l1 %}">Membru</a></li>
          </ul>
        </li>
        <li><a href="{% url 'event-list' l1 %}" class="{% if url_name == 'event-list' %} active{% endif %}">Eventu</a></li>
        <li class="{% if url_name == 'resource-detail'  %}
        active 
      {% endif %} dropdown"><a href="#"><span>Produtu</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% for product in products  %}
              <li><a href="{% url 'resource-detail' l1 product.hashed %}">{{product.name_tet}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="{% if url_name == 'department-detail'  %}
        active 
      {% endif %} dropdown"><a href="#"><span>Departamentu</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% for department in  departments %}              
            <li><a href="{% url 'department-detail' l1 department.hashed %}">{{department.name_tet}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="{% if url_name == 'report-list' or url_name == 'documentary-list' %}
        active 
      {% endif %} dropdown"><a href="#"><span>Publikasaun</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'report-list' l1 %}">Relatoriu</a></li>
            <li><a href="{% url 'documentary-list' l1 %}">Dokumentasaun</a></li>
          </ul>
        </li>

        
        <li class="{% if url_name == 'vacancy-list' or url_name == 'internships-list' or url_name == 'tender-list' or url_name == 'guideline-list' %}
        active 
      {% endif %} dropdown"><a href="#"><span>Oportunidade</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li class="dropdown"><a href="#"><span>Rekrutamentu</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="{% url 'vacancy-list' l1 %}">Vaga Servisu</a></li>
                    <li><a href=" {% url 'internships-list' l1 %} ">Estajiu</a></li>
                    <li><a href="{% url 'volunteer-list' l1 %}">Voluntariu</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Prokuramentu</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="{% url 'tender-list' l1 %}">Tenderizasaun</a></li>
                    <li><a href="{% url 'guideline-list' l1 %}">Matadalan Prokuramentu</a></li>
                    <li><a href="{% url 'policy-list' l1 %}">Regulamentu</a></li>
                  </ul>
                </li>
          </ul>
        </li>


        <li class="{% if url_name == 'ongoing-list' or url_name == 'new-list' %}
        active 
      {% endif %} dropdown"><a href="#"><span>Negosiu no Investimentu</span> <i class="bi bi-chevron-down"></i></a>
       <ul>
        <li class="dropdown"><a href="#"><span>Projetu</span> <i class="bi bi-chevron-down"></i></a>
         <ul>
            
            <li><a href="{% url 'ongoing-list' l1 %}">Progressu</a></li>
            <li><a href="{% url 'new-list' l1 %}">Sei Mai</a></li>
                </ul> 
            </li>
          </ul>
        </li>
        <li class="{% if url_name == 'album-list' or url_name == 'video-list' %}
        active 
      {% endif %} dropdown"><a href="#"><span>Galeria</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'album-list' l1 %}">Imajen</a></li>
            <li><a href="{% url 'video-list' l1 %}">Video</a></li>
          </ul>
        </li>
        <li><a href="{% url 'announcement-list' l1 %}" class="{% if url_name == 'announcement-list' %} active{% endif %}">Announcement</a></li>
        <li><a href="{% url 'appointment' l1 %}" id="btn-appointment">Kontaktu</a></li>
        {% endwith %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
