<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-center">

    <nav id="navbar" class="navbar">
      <ul>
        {% with url_name=request.resolver_match.url_name %}
        <li><a class="{% if url_name == 'home' %}active{% endif %}" href="{% url 'redirect-home' %}">Home</a></li>
        <li><a href="{% url 'news-list' l3 %}" class="{% if url_name == 'news-list' %} active{% endif %}">News</a></li>
        <li class="{% if url_name == 'who-we-are' or url_name == 'what-we-do' or url_name == 'board-profile' %}
          active 
        {% endif %} dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'who-we-are' l3 %}" >Who We Are</a></li>
            <li><a href="{% url 'what-we-do' l3 %}">What We Do</a></li>
            <li><a href="{% url 'board-profile' l3 %}">Board Director Profile</a></li>
          </ul>
        </li>
        <li><a href="{% url 'event-list' l3 %}" class="{% if url_name == 'event-list' %} active{% endif %}">Events</a></li>
        <li class="{% if url_name == 'resource-detail'  %}
        active 
      {% endif %} dropdown"><a href="#"><span>Resources</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% for product in products  %}
              
              <li><a href="{% url 'resource-detail' l3 product.hashed %}">{{product.name_eng}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="{% if url_name == 'department-detail'  %}
        active 
      {% endif %} dropdown"><a href="#"><span>Departments</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% for department in  departments %}              
            <li><a href="{% url 'department-detail' l3 department.hashed %}">{{department.name_eng}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="{% if url_name == 'report-list' or url_name == 'documentary-list' %}
        active 
      {% endif %} dropdown"><a href="#"><span>Publication</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'report-list' l3 %}">Reports</a></li>
            <li><a href="{% url 'documentary-list' l3 %}">Documentary</a></li>
          </ul>
        </li>

        
        <li class="{% if url_name == 'vacancy-list' or url_name == 'internships-list' or url_name == 'tender-list' or url_name == 'guideline-list' %}
        active 
      {% endif %} dropdown"><a href="#"><span>Oportunity</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li class="dropdown"><a href="#"><span>Recruitments</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="{% url 'vacancy-list' l3 %}">Job Vacancies</a></li>
                    <li><a href=" {% url 'internships-list' l3 %} ">Internships</a></li>
                    <li><a href="{% url 'volunteer-list' l3 %}">Volunteer</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Procurements</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="{% url 'tender-list' l3 %}">Public Tender</a></li>
                    <li><a href="{% url 'guideline-list' l3 %}">Procurements Guidelines</a></li>
                    <li><a href="{% url 'policy-list' l3 %}">Procurement Policy and Rules</a></li>
                  </ul>
                </li>
          </ul>
        </li>


        <li class="{% if url_name == 'ongoing-list' or url_name == 'new-list' %}
        active 
      {% endif %} dropdown"><a href="#"><span>Business and Investment</span> <i class="bi bi-chevron-down"></i></a>
       <ul>
        <li class="dropdown"><a href="#"><span>Project</span> <i class="bi bi-chevron-down"></i></a>
         <ul>
            
            <li><a href="{% url 'ongoing-list' l3 %}">Ongoing</a></li>
            <li><a href="{% url 'new-list' l3 %}">Upcoming Project</a></li>
                </ul> 
            </li>
          </ul>
        </li>
        <li class="{% if url_name == 'album-list' or url_name == 'video-list' %}
        active 
      {% endif %} dropdown"><a href="#"><span>Gallery</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'album-list' l3 %}">Photo</a></li>
            <li><a href="{% url 'video-list' l3 %}">Video</a></li>
          </ul>
        </li>
        <li><a href="{% url 'announcement-list' l3 %}" class="{% if url_name == 'announcement-list' %} active{% endif %}">Announcement</a></li>
        <li><a href="{% url 'appointment' l3 %}" id="btn-appointment">Get In Touch</a></li>
        {% endwith %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
