{% load static %}
<section id="topbar" style="background-image:url('{% static 'main/img/topheader.jpg' %}'); opacity: 0.9" class="d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">

    <div class="contact-info d-flex align-items-center ">
      <a href="https://wa.me/67074423680" target="blank" class="facebook">
        <img src="{% static 'main/img/img_loading.png' %}" data-src="{% static 'main/img/whatsaap.png' %}" style="width: 25px;" alt="">
      </a>
      <a href="http://m.me/EDTLEP2021" target="blank" class="facebook">
        <img src="{% static 'main/img/img_loading.png' %}" data-src="{% static 'main/img/fb.png' %}" style="width: 25px;" alt="">
      </a>
      <span  class="blink"> 
        
        <i class="bi bi-telephone-fill d-flex align-items-center ms-4"><span style="font-size: 18px;">80010000 / 3339258</span></i>
      </span>
    </div>
    <div class="social-links d-none d-md-flex align-items-center">
      <a href="{% url 'varanda' l1 %}" class="timor">
        <img src="{% static 'main/img/img_loading.png' %}" data-src="{% static 'main/img/TL-16.png' l1 %}" style="width: 20px;" alt="">
      </a>
      <a href="{% url 'inicio' l2 %}" class="timor">
        <img src="{% static 'main/img/img_loading.png' %}" data-src="{% static 'main/img/POR-16.png' l2 %}" style="width: 20px;" alt="">
      </a>
      <a href="{% url 'home' l3 %}" class="timor">
        <img src="{% static 'main/img/img_loading.png' %}" data-src="{% static 'main/img/ENG-16.png' l3 %}" style="width: 20px;" alt="">
      </a>
       <input class="search-input" placeholder="Search..." type="text">
    </div>
  </div>
</section>