{% extends "main/layout.html" %}
{% load static %}
{% block content %}
      <!-- LASTEST NEWS -->
      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
          <div class="section-title" data-aos="fade-up">
            <h2><strong>{{lang_data.HOME_LAST_NEWS}}</strong></h2>
          </div>
          {% if news_main %}
          <div class="row">
  
            <div class="col-md-8 entries">
                
              
              <article class="entry">
  
                <div class="entry-img text-center">
                  <img src="{{news_main.image.url}}" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="#">{{news_main.title}}</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{news_main.author.first_name}} {{news_main.author.last_name}}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">{{news_main.entered_date|date:"d/M/Y"}}</time></a></li>
                    <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">12 Comments</a></li> -->
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                   {{news_main.content|striptags|slice:':300'}}...
                  </p>
                  <div class="read-more">
                    <a href="#">{{lang_data.BTN_READ_MORE}}</a>
                  </div>
                </div>
  
              </article>
              
            </div>
            <div class="col-md-4">
              <div class="sidebar">
                <h3 class="sidebar-title">{{lang_data.HOME_RECENT}}</h3>
                <div class="sidebar-item recent-posts">
                  {% for object in  news_recent %}

                  <div class="post-item clearfix">
                    <img src="{{object.image.url}}" alt="">
                    <h4><a href="{% url 'news-detail' lang object.entered_date|date:'Y' object.entered_date|date:'m' object.hashed object.title_seo  %}">{{object.title|truncatechars:100}}</a></h4>
                    <time datetime="2020-01-01">{{object.entered_date|date:"d/M/Y"}}</time>
                  </div>
                  {% endfor %}
                </div>
                <hr>
                <h3 class="sidebar-title">{{lang_data.HOME_VISITOR}}</h3>
                <div class="sidebar-item ">
                  <div class="post-item">
                    <h6><i class="bi bi-clock"></i> {{lang_data.HOME_VISITOR_TODAY}}: <strong> 102 </strong></h6>
                    <h6><i class="bi bi-clock-history"></i> {{lang_data.HOME_VISITOR_ALL}}: <strong> 202 </strong></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </section>
  
      <!-- FAQ -->
      <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title" data-aos="fade-up">
            <h2><strong>{{lang_data.HOME_FAQ_TITLE}}</strong></h2>
          </div>
  
          <ul class="faq-list">
            {% for faq in  faq_home %}
            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                {% if lang == 'en' %}
                {{faq.name_eng}} 
                {% elif lang == 'pt' %}
                {{faq.name_por}} 
                {% else %}
                  
                {{faq.name_tet}} 
                {% endif %}
                
              <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>

                  {% if lang == 'en' %}
                  {{faq.overview_eng|striptags|slice:':100'}}..
                  
                  {% elif lang == 'pt' %}

                  {{faq.overview_por|striptags|slice:':100'}}..
                  {% else %}
                    
                  {{faq.overview_tet|striptags|slice:':100'}}..
                  {% endif %}
                  
                  <a href="{% url 'faq-detail' lang faq.hashed %}">{{lang_data.BTN_READ_MORE}}</a>
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>
  
        </div>
      </section>
      <!-- END FAQ -->
{% endblock content %}