{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li>{{lang_data.PROJECT_LIST_LBL}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="section-title" data-aos="fade-up">
            <h2><strong>{{lang_data.PROJECT_TITLE_LBL}}</strong></h2>
          </div>
          <div class="row justify-content-center">

            <div class="col-md-12 entries">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" width="5%">Nu</th>
                        <th scope="col" width="35%">{{lang_data.TABEL_LBL9}}</th>
                        <th scope="col" width="10%">{{lang_data.TABEL_LBL7}}</th>
                        <th scope="col" width="12%">{{lang_data.TABEL_LBL3}}</th>
                        <th scope="col" width="12%">{{lang_data.TABEL_LBL4}}</th>
                        <th scope="col" width="11%">{{lang_data.TABEL_LBL8}}</th>
                        <th scope="col" width="15%">{{lang_data.TABEL_LBL5}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for object in  page_obj %}
                        
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                        {{object.name}}
                        </td>
                        <td>{{object.project_category}}</td>
                        <td>{{object.start_period}}</td>
                        <td>{{object.end_period}}</td>
                        <td>{{object.company}}</td>
                        <td>
                            <span class="download">
                              <a href="{% url 'ongoing-detail' lang object.hashed %}"><i class="bi bi-eye"></i> Detail</a>
                            </span>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
    
    
                  {% if page_obj %}
                  <div class="blog-pagination">
                      <ul class="justify-content-center">
                    {% if page_obj.has_previous %}
                      <li><a  href="?page=1"><i class="fa bi bi-chevron-double-left"></i></a></li>
                      <li></li><a  href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-left"></i></a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                      <li class="active"><a c href="?page={{ num }}">{{ num }}</a></li>
                      {% elif num > page_obj.number|add:'-3' and num > page_obj.number|add:'3' %}
                        <li></li><a  href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li></li><a  href="?page={{ page_obj.next_page_number }}"><i class="bi bi-chevron-right"></i></a></li>
                      <li></li><a  href="?page={{ page_obj.paginator.num_pages }}"><i class="bi bi-chevron-double-right"></i></a></li>
                    {% endif %}
                  </ul>
                </div>
                {% endif %}
    
            </div><!-- End blog entries list -->
    
          </div>

    </div>
  </section>
{% endblock content %}