{% extends "main/layout.html" %}
{% load static %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">Home</a></li>
        <li>Department Detail</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <h2 class="section-title">
          <a href="blog-single.html">{{objects.name_eng}}</a>
        </h2>
        <div class="col-lg-8 entries">

          <article class="entry entry-single">

            <div class="entry-img text-center">
              <img src="{{objects.image.url}}" alt="" class="img-fluid">
            </div>

<!-- 
            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
              </ul>
            </div> -->

            <div class="entry-content">
              {{objects.overview_eng|safe}}
            </div>

            
        </article><!-- End blog entry -->
          
        </div><!-- End blog entries list -->
        
        <div class="col-lg-4">

          <div class="sidebar">
              <h3 class="sidebar-title">LIST DIVISION</h3>
              <div class="sidebar-item2 categories">
                  <ul>
                    <li><a href="{% url 'division-detail' l3 %}">Division A</a></li>
                    <li><a href="{% url 'division-detail' l3 %}">Division B</a></li>
                </ul>
            </div><!-- End sidebar categories-->
            
            
            
          </div><!-- End sidebar -->
        
    </div><!-- End blog sidebar -->
    
</div>

</div>
</section>
{% endblock content %}