{% extends "main/layout.html" %}
{% load static %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li>{{lang_data.DEPARTMENT_TITLE_LBL}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <h2 class="section-title"> 
          {% if lang == 'tt' %}
          {{objects.name_tet}}
          {% elif lang == 'pt' %}
          {{objects.name_por}}
          
          {% else %}
          {{objects.name_eng}}
            
          {% endif %}
          
        </h2>
        <div class="col-lg-8 entries">

          <article class="entry entry-single">

            <div class="entry-img text-center p-4">
              <img src="{% static 'main/img/img_loading.png' %}" data-src="{{objects.image.url}}" alt="" class="img-fluid">
            </div>
            <div class="entry-content">
              {% if lang == 'tt' %}
              {{objects.overview_tet|safe}}
              {% elif lang == 'pt' %}
              {{objects.overview_por|safe}}
              
              {% else %}
              {{objects.overview_eng|safe}}
                
              {% endif %}
            </div>
        </article><!-- End blog entry -->
          
        </div><!-- End blog entries list -->
        
        <div class="col-lg-4">

          <div class="sidebar">
              <h3 class="sidebar-title">{{lang_data.LIST_DIVISION_TITLE_LBL}}</h3>
              <div class="sidebar-item2 categories">
                  <ul>
                    {% for division in  divisions %}
                      
                    <li><a href="{% url 'division-detail' lang division.hashed objects.hashed %}">
                      {% if lang == 'tt' %}
                      {{division.name_tet}}
                      {% elif lang == 'pt' %}
                      {{division.name_por}}
                      
                      {% else %}
                      {{division.name_eng}}
                      {% endif %}
                    </a></li>
                    {% endfor %}
                </ul>
            </div><!-- End sidebar categories-->
          </div><!-- End sidebar -->
        
    </div><!-- End blog sidebar -->
    
</div>

</div>
</section>
{% endblock content %}