{% extends "main/layout.html" %}
{% load static %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">Home</a></li>
        <li><a href="{% url 'department-detail' lang  department.hashed %}">
          {% if lang == 'tt' %}
            {{department.name_tet}}
            {% elif lang == 'pt' %}
            {{department.name_por}}
            
            {% else %}
            {{department.name_eng}}
            
          {% endif %}
          
        </a></li>
        <li>{{lang_data.DIVISION_TITLE_LBL}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <h2 class="section-title">
          {% if lang == 'tt' %}
          {{objects.name_tet}}
          {% elif lang == 'pt' %}
          {{objects.name_por}}
          {% else %}
          {{objects.name_eng}}
          {% endif %}
          

      </h2>
      <div class="col-md-5 entries">

        <article class="entry entry-single">

          <div class="entry-img pt-3 text-center">
            <a href="{{objects.image.url}}" target="_blank"> <img src="{{objects.image.url}}" alt="" class="img-fluid"> </a>
          </div>


          
      </article><!-- End blog entry -->

        
      </div><!-- End blog entries list -->
      
      <div class="col-md-7">

        <div class="sidebar">
            <h3 class="sidebar-title">{% if lang == 'tt' %}
              {{objects.name_tet}}
              {% elif lang == 'pt' %}
              {{objects.name_por}}
              {% else %}
              {{objects.name_eng}}
              {% endif %}</h3>
            <hr>
            <div class="sidebar-item categories">
              {% if lang == 'tt' %}
                {{objects.overview_tet|safe}}
                {% elif lang == 'pt' %}
                {{objects.overview_por|safe}}
                {% else %}
                {{objects.overview_eng|safe}}
                {% endif %}
          </div><!-- End sidebar categories-->
      </div><!-- End sidebar -->
      
  </div><!-- End blog sidebar -->
  
</div>

</div>
</section>
{% endblock content %}