{% extends 'web_admin/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'admin-user-lists' %}">Users List</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
            <!-- <li class="breadcrumb-item">Users</li> -->
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Please Fill User Information</h5>
                    <hr>
                    <!-- General Form Elements -->
                    <form method="POST">
                        {% csrf_token %}
                        {% crispy form %}
                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content%}