{% extends "main/layout.html" %}
{% load static %}
{% load social_share %}
{% block title %}
  EDTL.EP - {{titlepage}}
{% endblock title %}
{% block content %}

{% block head %}
<meta property="og:title"         content="{{title2}}" />
<meta property="og:image"         content="{{objects.image.url}}" />
{% endblock head %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li><a href="{% url 'event-list' lang %}">{{lang_data.EVENT_LBL}}</a></li>
        <li>{{lang_data.EVENT_BREAKCUMB_LBL}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <h2 class="section-title">

            {% if lang == 'tt' %}
            {{objects.name_tet}}
            {% elif lang == 'pt' %}
            {{objects.name_por}}
            {% else %}
            {{objects.name_eng}}
            {% endif %}

        </h2>
        <div class="col-md-5 entries">

          <article class="entry entry-single">

            <div class="entry-img p-4 text-center">
              <img src="{% static 'main/img/img_loading.png' %}" data-src="{{objects.image.url}}" alt="" class="img-fluid">
            </div>
            <div class="entry-footer">
              <h6>{{lang_data.SHARE_LBL}}: </h6>
              <ul class="cats">
                  <li> <a href="#">{% post_to_facebook object_or_url "<p style='color: green;'>facebook</p>" %}  </a></li>
                  {% if lang == 'tt' %}
                  <li> <a href="#">{% post_to_whatsapp object_or_url objects.name_tet %} </a></li>
                  {% elif lang == 'pt' %}
                  <li> <a href="#">{% post_to_whatsapp object_or_url objects.name_por %} </a></li>
                  {% else %}
                  <li> <a href="#">{% post_to_whatsapp object_or_url objects.name_eng %} </a></li>
                  {% endif %}
                  <li> <a href="#">{% post_to_twitter "{{title2}}" object_or_url  %} </a></li>
                  <li> <a href="#">{% post_to_linkedin object_or_url %} </a></li>
              </ul>
          </div>

            
        </article><!-- End blog entry -->

          
        </div><!-- End blog entries list -->
        
        <div class="col-md-7">

          <div class="sidebar">
              <h3 class="sidebar-title">{{lang_data.EVENT_INFROMATION_LBL}}</h3>
              <hr>
              
              <div class="sidebar-item categories">
                <ul>
                </ul>
                <h6>{{lang_data.EVENT_START_DATE_LBL}}: <strong>{{objects.start_date|date:"d/M/Y"}}</strong></h6>
                {% if objects.end_date %}
                <h6>{{lang_data.EVENT_END_DATE_LBL}}: <strong>{{objects.end_date|date:"d/M/Y"}}</strong></h6>
                  
                {% endif %}
                <hr>
                    <h6>
                       {% if lang == 'tt' %}
                        {{objects.overview_tet|safe}}
                        {% elif lang == 'pt' %}
                        {{objects.overview_por|safe}}
                        
                        {% else %}
                        {{objects.overview_eng|safe}}
                         
                       {% endif %}
                       
                    </h6>
            </div><!-- End sidebar categories-->
            
            
            
        </div><!-- End sidebar -->
        
    </div><!-- End blog sidebar -->
    
</div>

</div>
</section>
{% endblock content %}