{% extends 'web_admin/layout.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

            <div class="row">

            </div>

        </div><!-- End Right side columns -->

    </div>
</section>
{% endblock content %}