{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{% url 'admin-dashboard' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin-event-list' %}">
                <i class="bi bi-calendar4-week"></i><span>Events</span><i class=""></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin-report-list' %}">
                <i class="bi bi-journal-bookmark-fill"></i><span>Reports</span><i class=""></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin-product-list' %}">
                <i class="bi bi-box-seam"></i><span>Products</span><i class=""></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin-faq-list' %}">
                <i class="bi bi-question-circle"></i><span>FAQ</span><i class=""></i>
            </a>
        </li>
        <!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-video2"></i><span>Profiles</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin-about-list' %}">
                        <i class="bi bi-circle"></i><span>About Us</span>
                    </a>
                    <a href="{% url 'admin-team-list' %}">
                        <i class="bi bi-circle"></i><span>Team</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav-2" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-plus-fill"></i><span>Recruitments</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav-2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin-vacancy-list' %}">
                        <i class="bi bi-circle"></i><span>Vacancy</span>
                    </a>
                    <a href="{% url 'admin-internships-list' %}">
                        <i class="bi bi-circle"></i><span>Internships</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav-3" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-richtext"></i><span>Procurament</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav-3" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin-tender-list' %}">
                        <i class="bi bi-circle"></i><span>Tender</span>
                    </a>
                    <a href="{% url 'admin-guidelines-list' %}">
                        <i class="bi bi-circle"></i><span>Guidelines</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav1" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people"></i><span>Departments</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin-department-list' %}">
                        <i class="bi bi-circle"></i><span>Departments</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin-division-list' %}">
                        <i class="bi bi-circle"></i><span>Division</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-newspaper"></i><span>News</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                {% if group == 'media' %}
                <li>
                    <a href="{% url 'admin-news-list' %}">
                        <i class="bi bi-circle"></i><span>News List</span>
                    </a>
                </li>
                {% else %}

                <li>
                    <a href="{% url 'admin-news-request-list' %}">
                        <i class="bi bi-circle"></i><span>Approval Request News</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin-news-approved-list' %}">
                        <i class="bi bi-circle"></i><span>Approved News</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#project" data-bs-toggle="collapse" href="#">
                <i class="bi bi-motherboard"></i><span>Project</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="project" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin-new-project-list' %}">
                        <i class="bi bi-circle"></i><span>New Project</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin-ongoing-project-list' %}">
                        <i class="bi bi-circle"></i><span>Ongoing Project</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- GALLERY -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#gallery" data-bs-toggle="collapse" href="#">
                <i class="bi bi-images"></i><span>Gallery</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="gallery" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin-album-list' %}">
                        <i class="bi bi-circle"></i><span>Album</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin-ongoing-project-list' %}">
                        <i class="bi bi-circle"></i><span>Video</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-heading">Bill Management</li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#finance" data-bs-toggle="collapse" href="#">
                <i class="bi bi-cash-coin"></i><span>FMS</span><i class=" bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="finance" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin-bill-list' %}">
                        <i class="bi bi-circle"></i><span>Bill Management</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin-client-list' %}">
                        <i class="bi bi-circle"></i><span>Clients</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-heading">Meeting Appointment</li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#appointment" data-bs-toggle="collapse" href="#">
                <i class="bi bi-calendar-date"></i><span>Appointement</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="appointment" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'admin-appointment-list' %}">
                        <i class="bi bi-circle"></i><span>Incoming Appointment</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin-appointment-approved-list' %}">
                        <i class="bi bi-circle"></i><span>Appointment Approved</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin-appointment-reject-list' %}">
                        <i class="bi bi-circle"></i><span>Appointment Reject</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-heading">User Management</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'admin-user-lists' %}">
                <i class="bi bi-person"></i>
                <span>Users</span>
            </a>
        </li><!-- End Users -->

    </ul>

</aside><!-- End Sidebar-->