{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    {% if group == 'admin' %}
    {% include "web_admin/admin_nav.html" %}  
    {% elif group == 'media' %}
    {% include "web_admin/media_nav.html" %}  
    
    {% elif group == 'coordinator' %}
    {% include "web_admin/coordinator_nav.html" %}  
    
    {% elif group == 'finance' %}
    {% include "web_admin/finance_nav.html" %}  
    
    {% elif group == 'secretary' %}
    {% include "web_admin/secretary_nav.html" %}  
      
    {% endif %}
    
    

</aside><!-- End Sidebar-->