{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li><a href="{% url 'album-list' lang %}">{{lang_data.LIST_ALBUM_LBL}}</a></li>
        <li>{{lang_data.DETAIL_ALBUM_LBL}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
  
          <div class="row gy-4">
            <h2 class="section-title">
              {% if lang == 'tt' %}
              {{objects.name_tet}}
              {% elif lang == 'pt' %}
              {{objects.name_por}}
              {% else %}
              {{objects.name_eng}}
              {% endif %}
              </h2>
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  {% for object in gallery %}
                    
                  <div class="swiper-slide">
                    <img src="{{object.image.url}}" >
                  </div>
                  {% endfor %}
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>{{lang_data.DETAIL_ALBUM_INFO_LBL}}</h3>
                <ul>
                  <li><strong>{{lang_data.DETAIL_ALBUM_LBL1}}</strong>:
                    {% if lang == 'tt' %}
                    {{objects.name_tet}}
                    {% elif lang == 'pt' %}
                    {{objects.name_por}}
                    {% else %}
                    {{objects.name_eng}}
                    {% endif %}</li>
                  <li>
                    <i class="bi bi-person text-primary"></i> {{objects.author.first_name}} {{objects.author.last_name}}
                    <i class="bi bi-person text-danger"></i> {{objects.datetime|date:"d/M/Y"}}
                  </li>
                  <li><strong>{{lang_data.DETAIL_ALBUM_LBL2}}</strong>: 
                    {% if lang == 'tt' %}
                    {{objects.overview_tet}}
                    {% elif lang == 'pt' %}
                    {{objects.overview_por}}
                    {% else %}
                    {{objects.overview_eng}}
                    {% endif %}
                  </li>
                </ul>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Details Section -->
{% endblock content %}