{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">Home</a></li>
        <li>Video</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio blog" class="blog portfolio">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>ALL VIDEO 2022</strong></h2>
              </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
        
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        {% for gallery_cat in  gallery_categories %}
                          
                        <li data-filter=".filter-app">{{gallery_cat.name}}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
        
                <div class="row portfolio-container" data-aos="fade-up">
        
                    <div class="col-md-6 portfolio-item filter-app">
                    <iframe src="https://www.youtube.com/embed/1J4kVtdjDKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6 portfolio-item filter-app">
                        <iframe src="https://www.youtube.com/embed/nJ2klsIjOp0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
        
                </div>
            </div>
        </div>
        </div>
      </section><!-- End Portfolio Section -->
{% endblock content %}