{% extends 'web_admin/layout.html' %}
{% load social_share %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
            <!-- TODO -->
            <li class="breadcrumb-item"><a href="{% url 'admin-news-list' %}">News List</a></li>

            <li class="breadcrumb-item active">{{title}}</li>
            <!-- <li class="breadcrumb-item">Users</li> -->
        </ol>
    </nav>
</div>
<section class="section profile">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body pt-3">
                    {% if group == 'coordinator' or group == 'admin' %}
                    {% if object.is_approved == False %}

                    <a href="{% url 'admin-news-image-add' object.hashed %}" class="btn btn-sm btn-primary"><i
                            class="bi bi-check-lg"></i> Approve</a>
                    <a href="{% url 'admin-news-image-add' object.hashed %}" class="btn btn-sm btn-danger"><i
                            class="bi bi-x-lg"></i> Reject</a>
                    {% endif %}
                    {% endif %}
                    <div class="card-title">
                        <div class="row">
                            <div class="col-md-12">
                                {% post_to_facebook "Test"{{object.title}} object_or_url "<p style='color: green;'>
                                    facebook</p>" %}
                            </div>
                        </div>
                        <h2>{{object.title}}</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <span>
                                    <i class="bi bi-clock"></i> Created Date: {{object.entered_date|date:"d/m/Y"}}
                                </span>
                            </div>
                            <div class="col-md-6">
                                <span>
                                    <i class="bi bi-person pl-2"> </i> Created By: {{object.author.first_name}}
                                    {{object.author.last_name}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="basic">
                                <div class="image">
                                    <!-- TODO FIX -->
                                    <a href="{{ object.image.url }}" target="_blank"><img
                                            class="img-fluid rounded mx-auto d-block"
                                            src="{{object.image_thumbnail.url}}" alt=""></a>
                                    <p class="text-center fst-italic fs-6">{{object.image_description}}</p>
                                    <hr>
                                </div>
                                <h6 class="fw-bold">Headline: </h6>
                                <p>{{object.headline}}</p>
                                <hr>
                                <!-- <h5 class="">Example Card</h5> -->
                                <p>{{object.content|safe}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body pt-3">
                    {% if group == 'media' %}
                    {% if object.is_approved == False%}

                    <a href="{% url 'admin-news-image-add' object.hashed %}" class="btn btn-sm btn-primary"><i
                            class="bi bi-plus-circle"></i> Add
                        More
                        Image</a>
                    {% endif %}
                    {% endif %}
                    <div class="card-title">
                        <h2>News Images</h2>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="basic">
                                {% for image in images %}
                                <div class="image mb-2">
                                    <!-- TODO FIX -->
                                    <a href="{{ image.image.url }}" target="_blank"><img class="img-fluid"
                                            src="{{image.image_thumbnail.url}}" alt=""></a>
                                    <p class="text-center fst-italic fs-6">{{image.description_tet}}</p>
                                </div>
                                {% if group == 'media' %}
                                {% if object.is_approved == False%}
                                <a href="{% url 'admin-news-image-update'  image.hashed object.hashed %}" type="button"
                                    title="Update" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                <a href="{% url 'admin-news-image-delete' image.hashed object.hashed %}" type="button"
                                    title="Delete" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                {% endif %}
                                {% endif %}
                                <hr>
                                {% endfor %}
                                <!-- <h5 class="">Example Card</h5> -->
                                <!-- <p>{{object.content|safe}}</p> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock content%}