{% extends 'web_admin/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'admin-news-list' %}">News List</a></li>
            <li class="breadcrumb-item"><a href="{% url 'admin-news-detail' hashid2 %}">News Detail</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
            <!-- <li class="breadcrumb-item">Users</li> -->
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if subtitle %}
                                {{subtitle}}
                                {% else %}
                                Please Fill News Information and Image
                                {% endif %}
                            </h5>
                            <hr>
                            <!-- General Form Elements -->
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% crispy form %}
                            </form><!-- End General Form Elements -->

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Current Image
                            </h5>
                            <a href="{{ objects.image.url }}" target="_blank"><img class="img-fluid"
                                    src="{{objects.image_thumbnail.url}}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content%}