{% extends "web_admin/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<ol class="breadcrumb mb-2 mt-1">
		<li class="breadcrumb-item"><a href="{% url 'user-profile' %}">PROFILE</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ legend|upper }}</li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			<div class="card shadow-lg pt-3 rounded">
				<div class="card-header">
					{{ legend|upper }}
				</div>
				<div class="card-body">
					{% crispy form %}
				</div> <!--end card-body-->
			</div> <!--end card-->
		</div> <!--end col-->
	</div> <!--end row-->
{% endblock %}
{% block scripts %}
{% endblock %}