{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load social_share %}
{% block title %}
  EDTL.EP - {{titlepage}}
{% endblock title %}
{% block content %}

{% block head %}
<meta property="og:title"         content="{{objects.title}}" />
<meta property="og:description"   content="{{objects.headline}}" />
<meta property="og:image"         content="{{objects.image.url}}" />
{% endblock head %}
  <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li><a href="{% url 'news-list' l3 %}">{{breakcumb}}</a></li>
        <li>{{legend}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

  <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <h2 class="section-title">
            {{objects.title}}
          </h2>
          <div class="col-lg-8 entries">

          <article class="entry entry-single">

              <div class="entry-img">
                <a href="{{ objects.image.url }}" target="_blank"><img
                  class="img-fluid rounded mx-auto d-block"
                  src="{% static 'main/img/img_loading.png' %}" data-src="{{objects.image.url}}" alt=""></a>
              </div>


              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i>{{objects.author.first_name}} {{objects.author.last_name}}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="2020-01-01">{{objects.entered_date|date:"d/M/Y"}}</a></li>
                  <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">12 Comments</a></li> -->
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{objects.content|safe}}
                </p>
              </div>
              <div class="entry-footer">
                  <h6>{{lang_data.SHARE_LBL}}: </h6>
                  <ul class="cats">
                      <li> <a href="#">{% post_to_facebook object_or_url "<p style='color: green;'>facebook</p>" %}  </a></li>
                      <li> <a href="#">{% post_to_whatsapp object_or_url objects.title %} </a></li>
                      <li> <a href="#">{% post_to_twitter "News: {{objects.title}}" object_or_url  %} </a></li>
                      <li> <a href="#">{% post_to_linkedin object_or_url %} </a></li>
                  </ul>
              </div>

              
          </article><!-- End blog entry -->

          
              <div class="blog-comments">
                  
                  <h4 class="comments-count">Comments ( {{comments.count}} )</h4>
                  {% for comment in comments %}
                    
                  <div id="comment-1" class="comment">
                      <div class="d-flex">
                      <!-- <div class="comment-img"><img src="{% static 'main/img/blog/comments-1.jpg' %}" alt=""></div> -->
                          <div>
                              <span>
                                {% if comment.is_admin == True %}
                                  <h5 class="text-danger">  <strong> {{comment.name}} </strong></h5>
                                {% else %}
                                 <h5> <strong>{{comment.name}}</strong></h5>
                                {% endif %}
                              </span>
                              <time datetime="2020-01-01">{{comment.datetime|date:"d/M/Y H:i"}}</time>
                              <p>
                                  {{comment.comments}}
                              </p>
                          </div>
                      </div>
                    </div>
                    <hr>
                    
                    <!-- End comment #1 -->
                    {% endfor %}
              

                  <div class="reply-form">
                    <h4>Leave a Comment</h4>
                    <p>Your email address will not be published. Required fields are marked * </p>
                    <form method="POST">
                      {% csrf_token %}
                      {% crispy form %}
                    </form>
                      
                  </div>
                  
                
              </div>
          </div>

          <div class="col-lg-4">

            <div class="sidebar">
                <h3 class="sidebar-title">{{lang_data.MORE_IMAGES}}</h3>
                <div class="sidebar-item categories">
                    <ul>
                      {% for image in images  %}
                        {% if image %}
                        
                        <li>  <a href="{{ image.image.url }}" target="_blank"><img
                          class="img-fluid rounded mx-auto d-block"
                          src="{% static 'main/img/img_loading.png' %}" data-src="{{image.image_thumbnail.url}}" alt=""></a> </li>
                        {% if lang == 'en' %}
                          <i> {{image.description_eng}} </i>
                        {% endif %}
                        {% else %}
                        <h6>{{lang_data.NO_IMAGE_LBL}}</h6>
                        <h3>TES</h3>
                        {% endif %}
                      {% endfor %}
                  </ul>
              </div><!-- End sidebar categories-->
              
              
              
          </div><!-- End sidebar -->
          
          </div><!-- End blog sidebar -->
      
        </div>
      </div>
  </section>
{% endblock content %}