{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li>{{lang_data.FAQ_DETAIL_LBL}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio blog" class="blog contact">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2><strong>{{lang_data.FAQ_DETAIL_LBL}}</strong></h2>
                <h6><strong>
                  {% if lang == 'tt' %}
                        {{objects.name_tet}}
                        {% elif lang == 'pt' %}
                        {{objects.name_por}}
                        {% else %}
                        {{objects.name_eng}}
                          
                        {% endif %}
                </strong></h6>
              </div>
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-md-10">
              {% if lang == 'tt' %}
              {{objects.overview_tet|safe}}
              {% elif lang == 'pt' %}
              {{objects.overview_por|safe}}
              {% else %}
              {{objects.overview_eng|safe}}
                
              {% endif %}
            </div>
        </div>
        </div>
      </section><!-- End Portfolio Section -->
{% endblock content %}