{% extends 'web_admin/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
            <!-- TODO -->
            <li class="breadcrumb-item"><a href="{% url 'admin-department-list' %}">List Departments</a></li>

            <li class="breadcrumb-item active">{{title}}</li>
            <!-- <li class="breadcrumb-item">Users</li> -->
        </ol>
    </nav>
</div>
<section class="section profile">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body pt-3">
                    <div class="card-title">
                        <h2>Detalla Departamento</h2>
                        <hr>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4 align-self-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6>Naran Departamento (Tetum)</h6>
                                        <hr>
                                    </div>
                                    <h6>{{objects.name_tet}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 align-self-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6>Naran Departamento (Portugues)</h6>
                                        <hr>
                                    </div>
                                    <h6>{{objects.name_por}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 align-self-center">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6>Naran Departamento (Ingles)</h6>
                                        <hr>
                                    </div>
                                    <h6>{{objects.name_eng}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6>Overview (Tetum)</h6>
                                        <hr>
                                    </div>
                                    <h6>{{objects.overview_tet|safe}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6>Overview (Portugues)</h6>
                                        <hr>
                                    </div>
                                    <h6>{{objects.overview_por|safe}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6>Overview (Ingles)</h6>
                                        <hr>
                                    </div>
                                    <h6>{{objects.overview_eng|safe}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body pt-3">
                    <div class="card-title">
                        <h2>Imagen</h2>
                        <hr>
                    </div>
                    <a href="{{ objects.image.url }}" target="_blank">
                        <img class="" width="100%" src="{{objects.image.url}}" alt=""></a>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock content%}