{% extends 'web_admin/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
            <!-- TODO -->
            <!-- <li class="breadcrumb-item"><a href="{% url 'admin-news-list' %}">News List</a></li> -->
            <li class="breadcrumb-item active">{{title}}</li>
            <!-- <li class="breadcrumb-item">Users</li> -->
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mr-2">{{title }}

                        <i class="bi bi-arrow-right"></i>
                        <a href="{% url 'admin-department-add' %}" class="btn btn-primary"> <i class="bi-plus-lg"></i>
                            Add
                            Department</a>
                    </h5>
                    <hr>

                    <!-- Table with stripped rows -->
                    <table class="table table-striped table-bordered" id="example">
                        <thead>
                            <tr>
                                <th scope="col" width="5%">Nu.</th>
                                <th scope="col" width="20%">Naran Tetun</th>
                                <th scope="col" width="20%">Naran Portugues</th>
                                <th scope="col" width="20%">Naran Ingles</th>
                                <th scope="col" width="10%">User</th>
                                <th scope="col" width="5%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in objects %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>
                                    <a href="{% url 'admin-department-detail' object.hashed %}">
                                        {{object.name_tet}}
                                    </a>
                                </td>
                                <td>{{object.name_por}}</td>
                                <td>{{object.name_eng}}</td>
                                <td>{{object.author.first_name}} {{object.author.last_name}} </td>
                                <td>
                                    <a href="{% url 'admin-department-update' object.hashed %}" type="button"
                                        title="Update" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}