{% extends "main/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <h2 class="section-title">User Subscribe Management Dashboard</h2>
        
        <div class="col-md-6">

          <div class="sidebar">
              <h3 class="sidebar-title">Information: </h3>
              <hr>
              <div class="sidebar-item categories">
                <h6>Email: <strong>{{usersubscribe}}</strong> </h6>
                <a href="{% url 'usm-unsubscribe' lang usersubscribe.date_created.year usersubscribe.date_created.day usersubscribe.date_created.hour usersubscribe.date_created.minute usersubscribe.hashed %}" >
                  <button class="btn btn-danger">Unsubscribe</button>
                </a>
              </div>
            
            
          </div><!-- End sidebar -->
        
        </div>
        <div class="col-md-6">
          <div class="sidebar">
            <h3 class="sidebar-title">Manage your Subscription:</h3>
            <hr>
            <div class="sidebar-item categories">
              <h6></h6>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{usersubscribe}}" name="email">
                {% for ub in  subscribechoices %}
                  <input type="checkbox" id="{{ub.name}}" name="choices" value="{{ub.id}}"
                  {% for ub2 in usersubscribe.choices.all  %}
                  {% if ub2 == ub %}
                    checked
                    {% else %}
                    ''
                    {% endif %}
                    {% endfor %}
                    >
                    <label for="ub.name">{{ub}}</label><br>
                    {% endfor %}
                    
                    <button href="{% url 'usm-choices' lang usersubscribe.hashed %}" class="btn btn-primary mt-2" name="usm_subscribe" type="submit">Submit</button>
                  
                </form>
          </div><!-- End sidebar categories-->
          
          
          
        </div><!-- End sidebar -->
        
        </div>
    
</div>

</div>
</section>
{% endblock content %}