{% extends "main/layout.html" %}
{% load static %}
{% block title %}
  {{titlepage}}
{% endblock title %}
{% block content %}
  <!-- ======= Breadcrumbs ======= -->

<!-- ======= About Us Section ======= -->
<section id="blog" class="blog about-us">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2><strong>USER SUBSCRIBE MANAGEMENT</strong></h2>
    </div>
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <article class="entry entry-single">
          <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="section-title" data-aos="fade-up">
                    <h2><strong>{{lang_data.MISSION_LBL}}</strong></h2>
                  </div>
                </div>
          </div>
        </article>
      </div>
      
    </div>
    
  </div>
</section><!-- End About Us Section -->

{% endblock content %}
