{% extends "main/layout.html" %}
{% load static %}
{% block content %}
{% load social_share %}

{% block head %}
<meta property="og:title"         content="{{title3}}" />
<meta property="og:image"         content="{{objects.image.url}}" />
{% endblock head %}
  <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
        <li><a href="{% url 'redirect-home' %}">{{lang_data.BREAKCUMB}}</a></li>
        <li><a href="{% url 'announcement-list' lang %}">{{lang_data.ANNOUNCEMENT_LIST_LBL}}</a></li>
        <li>{{lang_data.ANNOUNCEMENT_DETAIL_BREAKCUMB_LBL}}</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <h2 class="section-title">
          {% if lang == 'tt' %}
          {{objects.title_tet}}
          {% elif lang == 'pt' %}
          {{objects.title_por}}
          {% else %}
          {{objects.title_eng}}
          {% endif %}
          

      </h2>
      <div class="col-md-5 entries">

        <article class="entry entry-single">

          <div class="entry-img pt-3 text-center">
            <img src="{% static 'main/img/img_loading.png' %}" data-src="{{objects.image.url}}" alt="" class="img-fluid">
          </div>
          <div class="entry-footer">
            <h6>{{lang_data.SHARE_LBL}}: </h6>
            <ul class="cats">
              <li> <a href="#">{% post_to_facebook object_or_url "<p style='color: green;'>facebook</p>" %}  </a></li>
              {% if lang == 'tt' %}
              <li> <a href="#">{% post_to_whatsapp object_or_url objects.title_tet %} </a></li>
              {% elif lang == 'pt' %}
              <li> <a href="#">{% post_to_whatsapp object_or_url objects.title_por %} </a></li>
              {% else %}
              <li> <a href="#">{% post_to_whatsapp object_or_url objects.title_eng %} </a></li>
              {% endif %}
              <li> <a href="#">{% post_to_twitter "{{title3}}" object_or_url  %} </a></li>
              <li> <a href="#">{% post_to_linkedin object_or_url %} </a></li>
          </ul>
        </div>

          
      </article><!-- End blog entry -->

        
      </div><!-- End blog entries list -->
      
      <div class="col-md-7">

        <div class="sidebar">
            <h3 class="sidebar-title">{{lang_data.ANNOUNCEMENT_DETAIL_LBL}}</h3>
            <div class="sidebar-item categories">
              <hr>
              <div class="">
                <div class="entry-footer">
                
                 </div>
                  <ul>
                   <li class="d-flex align-items-center">
                    <span>

                      <i class="bi bi-person text-primary"></i>{{objects.author.first_name}} {{objects.author.last_name }}  
                      <i class="bi bi-clock text-danger"></i> <time datetime="2020-01-01">{{objects.date_posted|date:"d/M/Y H:m"}}</li>
                      </span>

                  <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">12 Comments</a></li> -->
                </ul>
              </div>
             
                  <h6>
                     {% if lang == 'tt' %}
                      {{objects.description_tet|safe}}
                      {% elif lang == 'pt' %}
                      {{objects.description_por|safe}}
                      
                      {% else %}
                      {{objects.description_eng|safe}}
                       
                     {% endif %}
                     
                  </h6>
          </div><!-- End sidebar categories-->
      </div><!-- End sidebar -->
      
  </div><!-- End blog sidebar -->
  
</div>

</div>
</section>
{% endblock content %}